body{
    margin:0;
    font-family:Arial, sans-serif;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#020617;
    color:white;
}

/* STADIUM EFFECT */
.stadium-bg{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at top,
    rgba(56,189,248,0.35),
    #020617 65%);
    animation:pulse 2s ease-in-out infinite;
}

/* FLASH EFFECT */
.flash{
    position:fixed;
    width:100%;
    height:100%;
    background:white;
    opacity:0;
    animation:flashHit 3s ease;
}

/* INTRO CONTAINER */
.intro{
    text-align:center;
    z-index:2;
}

/* LOGO ENTRY */
.logo{
    width:180px;
    opacity:0;
    transform:scale(0.2) rotate(-40deg);
    animation:logoIn 1.2s ease forwards;
    filter:drop-shadow(0 0 35px rgba(56,189,248,0.9));
}

/* TEXT */
h1{
    margin:15px 0 5px;
    font-size:34px;
    opacity:0;
    animation:textUp 1s ease forwards;
    animation-delay:0.9s;
}

h2{
    margin:0;
    font-size:22px;
    color:#cbd5e1;
    opacity:0;
    animation:textUp 1s ease forwards;
    animation-delay:1.3s;
}

/* LOADING BAR */
.loading-bar{
    width:320px;
    height:6px;
    background:rgba(255,255,255,0.2);
    margin:25px auto 0;
    border-radius:10px;
    overflow:hidden;
}

.fill{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#38bdf8,#0ea5e9);
    animation:load 3s linear forwards;
}

/* ===== ANIMATIONS ===== */

@keyframes logoIn{
    0%{
        opacity:0;
        transform:scale(0.2) rotate(-40deg);
    }
    60%{
        transform:scale(1.2);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes textUp{
    from{
        opacity:0;
        transform:translateY(25px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes load{
    to{width:100%;}
}

@keyframes pulse{
    0%,100%{filter:brightness(1);}
    50%{filter:brightness(1.25);}
}

@keyframes flashHit{
    0%{opacity:0;}
    15%{opacity:0.9;}
    30%{opacity:0;}
}